* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize !important;
    font-family: "Cairo", sans-serif;
    font-family: "Montserrat", sans-serif;
}
.sec-gap{
    padding: 111.5git px 0;
}


#main-section {
    background-image: url('../img/DAROKY-03.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh; /* This ensures the section takes full viewport height */
    height: 100%; /* Fallback for older browsers */
    width: 100%; /* Ensure full width */
    display: flex; /* Optional: helps with vertical centering if needed */
    align-items: center; /* Optional: vertically centers content */
}


.Data-section {
    position: relative;
    z-index: 10;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.356) 8%, rgba(41, 0, 15, 0.315) 100%, rgba(1,16,210,0.7819502801120448) 100%, rgba(0,212,255,1) 100%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 100%;
}
.Data-section .row{
    height: 750px;
}
.up{
    border-bottom: 1px solid white;
    
}





.vertical-line {
    border-left: 2px solid #dee2e6;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}
.streamer-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.social-links a {
    color: #6c757d;
    
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.social-links a:hover {
    color: #007bff;
}
.left-side {
    border-right: 1px solid white;
}